.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 70vh;
    overflow: hidden;    

}

html{
    font-size: 14px;
}

body{
    font-family: 'Noto Sans',sans-serif;
}

a{
    text-decoration: none;
}



.hot{

    background-color: rgb(246, 95, 40);
    color: white;
    font-weight: bold;
    width: 60px;
    text-align: center;
    top:0;
    right: 10;
    z-index: 10;
    padding: 6px;
    margin-left: 284PX;
    border-radius: 1rem;
}

